.header-bg{
    background: #264653;
    
}
.btn-cbr-honda-global{
    background: #E76F51;
    border-radius: 5px;
    color: white;
    padding:  10px 24px 10px 24px;
}
.text-global{
     color: #E0E0E0;
    
}
.text-color-custom{
    color:#E76F51;
}
hr{
   
    border: 1px solid #E76F51;
    width: 59px;
    margin: 0 auto;    
}
.grayscale-img{
    filter: grayscale(100%);
}
.btn-outline-custom{
    border-radius: 5px;
    padding:  10px 24px 10px 24px;
    border: 1px solid #E76F51;
    color: #E76F51;
}
.btn-outline-custom:hover{
    background: #E76F51;
    color: white;
}